<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li><a href="/">Metrics</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
            </ul>

        </nav>
    </header>
    <main>
        <form action="/sign-up" method="POST">
            <input type="text" name="title">
            <button type="submit">Sign Up</button></form>
        </form>
    </main>

</body>

</html>